.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.error {
  border: red solid 1px;
}
.error-message{
  color: red;
}

.no-error{
  display: none;
}

.isDone {
  opacity: 50%;
}